.vs/HokurikuJET.slnx/FileContentIndex/d7fd6884-0623-456f-8b85-de0c8e648207.vsidx
.vs/HokurikuJET.slnx/v18/.wsuo
.vs/HokurikuJET.slnx/v18/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/HokurikuJET.slnx/FileContentIndex/b460fdb3-b389-41af-b15d-16e9642dca61.vsidx
.vs/HokurikuJET.slnx/v18/DocumentLayout.backup.json
*.vsidx
